<!DOCTYPE html>
<html>

<head>
    <title>Register</title>

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vend-peg.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/assets/js/jquery-3.1.0.min.js" crossorigin="anonymous"></script>

    <!-- <script src="/assets/js/pay.js"></script> -->
</head>

<div class="container center">

    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Terminal Registered</h1>
        <p>We have registered your device. You can now transact against the Oxipay POS Gateway.</p>
    </div>
    <hr>
    <p>
            Having trouble? Contact us by
            <a href="mailto:pit@oxipay.com.au"></a>email</a> or call
            <span class="phone">+61 884641835</span> or
            <span class="phone">+64800729237</span>
        </p>
    </div>

</div>

</html>